/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* App.css */
/* styles.css (if you have a separate CSS file) */
.custom-card {
  box-shadow: 0px 2px 4px rgba(186, 116, 116, 0.734);
  justify-content: center;
  align-items: center;
}
.card {
  transition: transform 0.2s ease-in-out;
  
}

.card:hover {
  transform: scale(1.05);
}
.card-text{

  font-size: smaller;
  font-family:'Courier New', Courier, monospace ;
  font-size: large;
  color: #008080c7;
 
  
}
.card-title{

  color: #334cf261;

}



.card-body {
  background-color: #f8f9fa; 
  color: #333; 
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.card:hover .card-body {
  background-color: #528ccb7a; 
  color: #fff; 
}


.userlist{
  color: #00ffff96;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loader{

  color: #00ffff96;
  justify-content: center;
  align-items: center;
  display: flex;

}